/*
    before start to search about any page or section make $ like ### $start home_page

    find ***************************** for media query code like ****** Start Media Query

    find --------- for media query {page_name section_name} like ##### Start Media home page text_generator 

    find --------- for media query {page_name}  like ##### Start Media home page 

    find ######### Start {page_name} for code of specific page like: #############Start home

    find --------- Start {page_name section_name}  like -------- Start home page text_generator

    find --------- Start Media {page_name section_name}  like -------- Start Media home page text_generator

    
    Each section start from one line css property to two lines property and so on like:

    .home_page  .toggle_head, .home_page  .toggle_head { margin-bottom: 50px }

    .home_page .user_input_anaysis .readability_gradeLevels p svg{ 
      margin-right: 15px;
      margin-left: 15px 

    }

    .home_page .user_input_anaysis .tab_list_content .nav-tabs .nav-link{
      color: #fff;
      font-size: 18px;
      padding: 15px;
    }

    each section seprated by  #########################################################################################

*/



/*
  #################### $Start Main strucure style ####################
*/

html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, i, dl, dt, dd, ol, ul, li, fieldset,form, label,legend, 
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer,header, hgroup, menu, nav, 
section, summary, time, mark, audio, video{
    outline: none !important;
}

.fa-frown, .fa-smile-wink {margin-right: 10px}
body{ background: #cecece; overflow-x: hidden; }

body.scrolling_behavior{ overflow: hidden; }

input, button{ outline: 0 }

li{ list-style-type: none; }

dl, ol, ul{ margin: 0; }

li{ list-style-type: none; }

li a{ color: inherit; }

.dark_gray{
  /*background: #afafaf;*/
color: #696969 !important;
}

.fa-frown{color: #800909}
.fa-smile-wink{color: #0d864c}


@font-face {
  font-family: "Anton-Regular";
  src: url("../fonts/Anton-Regular.ttf");
}

@font-face {
  font-family: "Cairo-Black";
  src: url("../fonts/Cairo-Black.ttf");
}

.RubikMonoOne-font{ font-family: 'Rubik Mono One', sans-serif; }

.Montserrat-font{ font-family: 'Montserrat', sans-serif; }



.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.navbar-toggler:focus, 
.navbar-toggler:hover,
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  color: inherit;
}

/*
  #################### End Main strucure style ####################
*/

/*
  #################### $Start nav_bar section ####################
*/


.nav-bar #nav-icon span:nth-child(1), #nav-icon span:nth-child(2) { top: 0px; }

.nav-bar #nav-icon span:nth-child(3), .nav-bar #nav-icon span:nth-child(4) { top: 18px; }

.nav-bar #nav-icon span:nth-child(5), .nav-bar #nav-icon span:nth-child(6) { top: 36px; }

.nav_content .ul-nav-items li a:last-child{ margin-bottom: 0 }

.contact_us_page .contact_us_form .submit_contact{ margin-bottom: 50px !important }

.nav_content .ul-nav-items  li  a{
  font-size: 50px;
  display: block;  
}

.nav-bar #nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

.nav-bar #nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

.nav-bar #nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.nav-bar #nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.nav-bar #nav-icon.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

.nav-bar #nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

.nav-bar #nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.nav-bar #nav-icon span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

.nav-bar #nav-icon.open span:nth-child(1), .nav-bar #nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-bar #nav-icon.open span:nth-child(2), .nav-bar #nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-bar #nav-icon{
  width: 60px;
  position: relative;
  margin: 20px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 99999999;
}

.nav-bar #nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 50%;
  background: #666;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav{ position: relative; }

.nav #nav-icon{
  position: relative;
  right: 45%
}


.nav_content .ul-nav-items {
  text-align: center;
  margin-right: 40px;
}

.nav_content{
  transition: 1s;
  z-index: 9999;
  position: absolute;
  right: -100%;
}


.right, .left{
  width: 0;
  transition: 1s;
  position: fixed;
  top: 0;
  z-index: 9999;
}
.right.right_navigate, .left.left_navigate{
  background: #000;
  width: 0;
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: 1s;
}

.nav_content.show{
  transition: 1s;
  z-index: 9999;
  position: absolute;
  color: white;
  top: 0;
  display: block;
}

.nav_content .ul-nav-items li {
  color: #fff;
  margin-bottom: 30px;
  transition: .5s;
  text-align: center;
  padding: 3px 10px;
}

/*
  #################### End nav_bar section ####################
*/

/*
  #################### $Start collaborative section ####################
*/

/*.home_page .user_input_form .submit_btns button:hover,
.contact_us_page .contact_us_form .submit_contact:hover{
  transform: scale(1.2,1);
  letter-spacing: 2px;
  background-image:  linear-gradient(to right, white , black);
  color: #000
}*/

.home_page .user_input_form .submit_btns,
.contact_us_page .contact_us_form .submit_contact{
  width: 100%;
  margin: auto;
  display: block;
  text-align: center;
}


.home_page .statics_calculations div span,
.home_page .text_composition div span,
.home_page .readability_gradeLevels div span,
.home_page .readability_issues div span{
  color: #222;
  font-size: 16px;
  position: absolute;
  right: 45%;
  font-weight: bold;

}
.home_page .statics_calculations div span,
.home_page .text_composition div span{
  right: 55%;
}
.home_page .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active{
  color: #fff;
  background: #333;
  box-shadow: 0px 0px 10px #555;
  border-radius:none;
  border:none;
  border-top: 2px solid #fff
}

.home_page .statics_calculations div ,
.home_page .text_composition div ,
.home_page .readability_gradeLevels div,
.home_page .readability_issues div{
  color: #222;
  padding: 5px;
  font-size: 16px;
  /*margin-top: 10px;*/
  margin-bottom: 10px;
  /*box-shadow: 0 0 5px #9f9f95;*/
  text-align: left;
  position: relative;
  transition: 1s
}
.non_percentage span{
  margin-right: -75px
}
.about_page .about_content, 
.about_page .about_image,
.contact_us_page .contact_us_form,
.contact_us_page .contact_us_map{ margin-top: 100px }

.contact_us_page .contact_us_form input,
.contact_us_page .contact_us_form textarea{
  display: block;
  width: 100%;
  background: #15161a;
  border: 2px solid #fff;
  padding: 25px;
  box-shadow: 0px 0px 12px #17191d;
  color: #fff;
  
}


/*
  #################### End collaborative section ####################
*/


/*---------------------------------------------- Another Page---------------------------------------------------------*/

/*
  ###################### $Start home_page Style  ####################
*/

/* Homepage main structure  */

.home_page{ padding: 30px; } 

/* --------------------
------------------------ Bloc Code of home page  Text text_generator section 
-------------------- */

.home_page .heading span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    
    font-family: "Cairo-Black";
    font-size: 30px;
    color: #FFF;
    text-shadow: 0 1px 0 #000,
                 0 2px 0 #000,
                 0 3px 0 #000,
                 0 4px 0 #255,
                 0 5px 0 #255,
                 0 6px 0 transparent,
                 0 7px 0 transparent,
                 0 8px 0 transparent,
                 0 9px 0 transparent,
                 0 10px 10px rgba(0, 0, 0, .4);
}

.home_page .heading span:nth-child(2) { animation-delay: .1s; }
.home_page .heading span:nth-child(3) { animation-delay: .2s; }
.home_page .heading span:nth-child(4) { animation-delay: .3s; }
.home_page .heading span:nth-child(5) { animation-delay: .4s; }
.home_page .heading span:nth-child(6) { animation-delay: .5s; }
.home_page .heading span:nth-child(7) { animation-delay: .6s; }
.home_page .heading span:nth-child(8) { animation-delay: .7s; }
.home_page .heading span:nth-child(9) { animation-delay: .8s; }
.home_page .heading span:nth-child(10) { animation-delay: .9s; }
.home_page .heading span:nth-child(11) { animation-delay: 1.0s; }
.home_page .heading span:nth-child(12) { animation-delay: 1.1s; }
.home_page .heading span:nth-child(13) { animation-delay: 1.2s; }
.home_page .heading span:nth-child(14) { animation-delay: 1.3s; }
.home_page .heading span:nth-child(15) { animation-delay: 1.4s; }
.home_page .heading span:nth-child(16) { animation-delay: 1.5s; }
@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #000,
                 0 2px 0 #000,
                 0 3px 0 #000,
                 0 4px 0 #000,
                 0 5px 0 #255,
                 0 6px 0 #255,
                 0 7px 0 #255,
                 0 8px 0 #255,
                 0 9px 0 #255,
                 0 50px 25px rgba(0, 0, 0, .4);
  }
}


/* --------------------
------------------------ Bloc Code of home page  Text text_generator section 
-------------------- */


/*
  -------------------- $Start home_page text_generator section  --------------------
*/
.home_page .heading{ margin-top: 40px }

.home_page .text_generator{
  text-align: center;
  position: relative;
}


.home_page .content .text_content { 
  margin-top: 50px;
  line-height: 2.5;
  font-size:16px;
  font-family: "Anton-Regular";
}

.home_page .text_generator .content .text_content{
  width: 50em;
  min-height: 12em;
  margin: auto;
  margin-top: 20px;
  visibility: visible;
}

/*
  -------------------- End home_page text_generator section  --------------------
*/

/* ######################################################################################### */


/*
  -------------------- $Start home_page user_input_form section  --------------------
*/

.home_page .user_input_form textarea{
/*  box-shadow: 0px 0px 5px #282424;
  outline: none;
  border: 1px solid #ddd;*/
  height: 300px;
  pointer-events: auto;
  border: none;
  font-size: 18px;
  white-space: pre-wrap;
  resize: none;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 50em;
  line-height: 2;
  /*background: transparent;*/
  margin: 0 auto;
  border-radius: 0;
  padding: 10px 20px;
}


.home_page  .error_input.error_message{
  padding: 5px;
  margin: 10px;
  text-align: c;
  font-size: 25px;
  padding: .50rem 1rem;
  border-radius: .25rem;
  color: #721c24;
  border-color: #f5c6cb;
  background: #f8d7da
}


.home_page .user_input_form .submit_btns button{
  width: 35%;
  color: #fff;
  background: #000;
  padding: 8px 15px;
  border: none;
  box-sizing: 0 0 11px #fff;
  transition: .5s;
  font-size: 20px;
  margin:20px;
}


/*
  -------------------- End home_page user_input_form section  --------------------
*/

/* ######################################################################################### */


/*
  -------------------- $Start home_page user_input_anaysis section  --------------------
*/


.home_page .nav-tabs{ border-bottom: none }

.nav-bar .navbar-brand img{ height: 2.5em }

.home_page .user_input_form .user_input_result .highlighted_word{ color: red; }

.home_page  .toggle_head, .home_page  .toggle_head { margin-bottom: 50px }

.home_page .user_input_anaysis .readability_gradeLevels p svg{ margin-right: 15px }

.home_page .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{ border: 1px solid #fff; }

.home_page .user_input_anaysis .tab_list_content .nav-tabs .nav-link{
  color: #0084c8;
  font-size: 18px;
  padding: 15px;
}

.nav-bar .navbar-brand{
  position: absolute;
  right: 3%;
  top: 10px;
}
.home_page .user_input_anaysis .tab_list_content{
  position: relative;
  overflow: hidden;
  /*height: 400px;*/
  z-index: 999;
  margin-top: 0px; 
}

.home_page .user_input_anaysis .tab_list_content .tab-content{
  overflow-y: scroll;
  /*height: 300px;*/
  width: 90%;
  /*position: absolute;*/
}



/*
  -------------------- End home_page user_input_anaysis section  --------------------
*/


/* ######################################################################################### */



/*
  ###################### End home_page Style  ####################
*/

/*---------------------------------------------- Another Page---------------------------------------------------------*/


/*
  ###################### $Start about_page Style  ####################
*/

.about_content p{
  line-height: 2;
  font-size: 20px;
  color: #333;
}

.about_content h2{
  color: #0084c8;
  font-size: 35px;
  margin-bottom: 35px;
  font-family: "Cairo-Black";
}

/*
  ###################### End about_page Style   ####################
*/


/*---------------------------------------------- Another Page---------------------------------------------------------*/


/*
  ###################### $Start contact_page Style  ####################
*/


.contact_us_page .contact_us_form label {
  color: #fff;
  letter-spacing: 5px;
  font-size: 20px;
  font-family: "Cairo-Black";
}

.contact_us_page .contact_us_form .submit_contact_error{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 7px;
  box-shadow: 0 0 5px #771414;
  font-size: 20px;
}

.contact_us_page .contact_us_form .submit_contact{
  width: 40%;
  color: #fff;
  background: #000;
  padding: 8px 15px;
  border: none;
  box-sizing: 0 0 11px #fff;
  transition: .5s;
  font-size: 20px;
  display: block;
  margin:auto;
  outline: none;
  margin-top: 50px
}


/*
  ###################### End contact_page Style   ####################
*/

/* ********************************

********** $Start Media Query Responsive Design 

******************************************/

/*
  -------------------- $Start Media home page text_generator section  --------------------
*/

@media(max-width:991px){

.home_page .text_generator .content .text_content{ width: 100% }

}

@media(max-width:767px){

.home_page .text_generator .content .text_content{ min-height: 18em; }

}

/*
  -------------------- End Media home page text_generator section  --------------------
*/

/* ######################################################################################### */

/*
  -------------------- $Start Media home page user_input_form section Section  --------------------
*/


@media(max-width:991px){
.home_page .user_input_form button{
  margin-bottom: 80px;
  width: auto;
  padding: 3px;
  font-size: 12px;

}

}

/*
  -------------------- End Media home page user_input_form section Section  --------------------
*/

/* ######################################################################################### */

/*
  -------------------- $Start Media home page user_input_anaysis section Section  --------------------
*/



@media(max-width:991px){

.home_page .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
  font-size: 10px;
  padding: 5px;
}
.home_page .statics_calculations div ,
.home_page .text_composition div ,
.home_page .readability_gradeLevels div,
.home_page .readability_issues div {

  padding: 5px;
  font-size: 12px;
}

}


/*
  -------------------- End Media home page user_input_anaysis section Section   --------------------
*/

/* ********************************

********** End Media Query Responsive Design 

******************************************/




.contact_us_map{
  /*margin-right: px*/
}
.contact_us_map h3{
  margin-bottom: 50px;
  font-size: 30px;
  color: #0084c8;
  letter-spacing: 5px;
  font-family: "Cairo-Black";
}


.nav-bar{
  background: #efefef;
  height: 80px;
}

.head_section{
  color: #222
  padding: 10px 5px 15px;
  margin: 0 10px 5px;
  /*border-bottom: 1px solid #ccc;*/
  border-radius: 0;
}
/*.result_meaning{
  display: none;
  transition: .5s
}*/

.result_meaning.arrow_box{
  position: relative;
  background: #88b7d5;
  padding: 10px;
text-align: center;
margin-top: 10px
  /*border: 4px solid #c2e1f5;*/
}
.result_meaning.arrow_box:after, .result_meaning.arrow_box:before {
  bottom: 90%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.result_meaning.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #88b7d5;
  border-width: 30px;
  margin-left: -30px;
}
.result_meaning.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  /*border-bottom-color: #c2e1f5;*/
  border-width: 15px;
  margin-left: -36px;
}

.m_meaning{
  margin-right: -250px;
  font-size: 10px !important;
  /*position: absolute;*/
left: 60%;
text-align: left;
/*width: 100%;*/
display: inline-block;
}
p{ 
  margin-bottom: 0rem
}

/*.character_count:hover{
  color: red;
  background: green
}
*/
.tippy-content{
  background-color: white;
  box-shadow: 0 0 3px #333;
  color: #333;
  padding: 10px;
  /*text-align: le;*/
  font-size: 16px
}

.select {
  display:flex;
  flex-direction: column;
  position:relative;
  width:250px;
  height:40px;
}

.option {
  padding:0 30px 0 10px;
  min-height:40px;
  display:flex;
  align-items:center;
  background:#333;
  border-top:#222 solid 1px;
  position:absolute;
  top:0;
  width: 100%;
  pointer-events:none;
  order:2;
  z-index:1;
  transition:background .4s ease-in-out;
  box-sizing:border-box;
  overflow:hidden;
  white-space:nowrap;
  
}

.option:hover {
  background:#666;
}

.select:focus .option {
  position:relative;
  pointer-events:all;
}
label.option{
  margin:0;
  color: white
}
input {
  opacity:0;
  position:absolute;
  left:-99999px;
}

input:checked + label {
  order: 1;
  z-index:2;
  background:#666;
  border-top:none;
  position:relative;
  /*color: white*/
}

input:checked + label:after {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  position:absolute;
  right:10px;
  top:calc(50% - 2.5px);
  pointer-events:none;
  z-index:3;
}

input:checked + label:before {
  position:absolute;
  right:0;
  height: 40px;
  width: 50%;
  content: '';
  background:#666;
}

.language_img{
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50px;
}

/*.empty_output.active{
  transition: .5;
  position: fixed;
  width: 100%;
  height: ;
  background: red;
  height: 100%;
  z-index: 9999999;

}*/

.arabic_seg .api_result,
.arabic_lemma .api_result,
.arabic_SpCH .api_result,
.arabic_Diac .api_result,
.arabic_Diac2 .api_result{
   text-align: right;
  word-wrap: break-word;
  font-size: 20px;
 
}
/*.language_choice, .faras_api_choise{
  display: 
}*/

.readibilty_heading{
  color: #0084c8
}

.readability_report{
  margin-bottom: 15px;
  margin-top: -35px;
  color: blue;
  font-size: 20px;
}