{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{% static "images/logo.png" %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Text Readability Analysis</title>

     <link rel="stylesheet"   href=" {% static "css/owl.carousel.min.css" %}">
     <link rel="stylesheet" href=" {% static "css/owl.theme.default.min.css" %}">
     <link rel="stylesheet" href=" {% static "css/all.css" %}">
    <link rel="stylesheet" href=" {% static "css/style.css" %}">

  </head>
  <body>
      <!-- start Our NavBar  Style -->

     
      <header class="nav-bar">
       <div class="nav">
          <div id="nav-icon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
       </div>
        <div class="nav_list">
            <div class="right">
            
          </div>
            <div class="left">
              
            </div>
            <div class="nav_content">
              <ul class="ul-nav-items">
              
              <li class="RubikMonoOne-font"><a class="button_hover_style" href="{% url 'home_page' %}">HOME</a></li>
              <li><a class="RubikMonoOne-font" href="{% url 'about_page' %}">ABOUT US</a></li>
              <li><a class="button_hover_style" href="{% url 'contact_page' %}">CONTACT US</a></li>
            </ul>
            </div>
        </div>
      </header>
     
      <!-- End Our NavBar  Style -->

  <!-- start and end of any page content then with any base there is upper navbar  and bottom footer -->
  <div class="" style="position: relative; top: 30px">
    {% block content %}
      load pages here
    {% endblock content %}
</div>
</body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
    <script src=" {% static "js/owl.carousel.min.js" %} "></script>
    <script src=" {% static "js/all.js" %}"></script>
 <!--    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE1Yy2UrIJcUjeST946K0Q1bmxUhZCvKE&callback=initMap">
    </script> -->

    <script src=" {% static "js/script.js" %}"></script>


  </body>
</html>