{% extends "text_analysis/base.html" %}

{% load static %}
{% block content %}

<div class="home_page">
	<!-- div class="row text_generator center">
		<div class="content col-sm-12">
			<h1 class="heading">
				 <span>T</span>
				  <span>E</span>
				  <span>X</span>
				  <span>T</span>
				  <span>R</span>
				  <span>E</span>
				  <span>A</span>
				  <span>D</span>
				  <span>A</span>
				  <span>B</span>
				  <span>I</span>
				   <span>L</span>
				  <span>I</span>
				   <span>T</span>
				  <span>Y</span>
			</h1>
			<p class="text_content">
				

			</p>
		</div>
	</div> -->
	<div class="row">
		<div class="col-md-6 user_input_form">
			<form method='POST'>
				{% csrf_token %}
			   <div class="form-group">

			    <textarea rows="12" cols="50" class="form-control" name="user_text" ></textarea>
			    <p class="error_input">
			    	
			    </p>
			  </div>
			  <div class="submit_btns">
			  	<button type="submit" class="btn btn-primary submit_text">Analyze</button>
			  	<button type="submit" class="btn btn-primary generate_text">Random Sample</button>
			  </div>
			</form>
			<div class="user_input_result">

			</div>
		</div>

	<div class="col-md-6 user_input_anaysis">
		<div class="tab_list_content">
		  <ul class="nav nav-tabs">
		    <li class="nav-item">
		      <a class="nav-link active" data-toggle="tab" href="#home">Overall Statics</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" data-toggle="tab" href="#menu1">Text Composition</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" data-toggle="tab" href="#menu2">GRADE</a>
		    </li>
		      <li class="nav-item">
		      <a class="nav-link" data-toggle="tab" href="#menu3">Issues</a>
		    </li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div id="home" class="container tab-pane statics_calculations active"><br>
		    	<p class="character_count">Character Count </p>
		      	<p class="syllable_count">Syllable Count </p>
		      	<p class="word_count">Word Count </p>
		      	<p class="unique_word_count">Unique Word Count </p>		      	
		      	<p class="sentence_count">Sentence Count </p>
		      	<p class="paragraph_count">Paragraph Count </p>
		    </div>
		    <div id="menu1" class="container tab-pane fade text_composition"><br>
		      	<p class="Adjectives">Adjectives  </p>
		      	<p class="Adverbs">Adverbs  </p>
		      	<p class="Conjuctions">Conjunctions  </p>
		      	<p class="Determiners">Determiners  </p>
		      	<p class="Interjections">Interjections  </p>
		      	<p class="Nouns">Nouns  </p>
		      	<p class="Proper_Nouns">Proper Nouns  </p>
		      	<p class="Prepositions">Prepositions  </p>
		      	<p class="Pronouns">Pronouns </p>
		      	<p class="Verbs">Verbs  </p>
		    </div>
		    
		    <div id="menu2" class="container tab-pane fade readability_gradeLevels"><br>
		    	<h3 style="color: #fff">Readability Grade Levels</h3>
		    	<hr>
		      	<p class="flesch_kincaid_grade_level">
		      		<i class="fas fa-smile-wink"></i> 
		      		Flesch Kincaid Grade Level 
		      	</p>
		      	<p class="gunning_fog_index">
		      		<i class="fas fa-smile-wink"></i>
		      		Gunning Fog Index 
		       </p>

		      	<p class="coleman_liau_index">
		      	<i class="far fa-frown"></i>
		      	Coleman Liau Index 
		      	</p>
		      	<p class="smog">
		      		<i class="far fa-frown"></i>
			      	SMOG  Index
		      	</p>
		      	<p class="automated_readability_index">
		      		<i class="fas fa-smile-wink"></i>
		      		Automated Readability Index 
		      	</p>
		      	<p class="FORCAST_grade_level">
		      		<i class="fas fa-smile-wink"></i>
		      		FORCAST Grade Level
		      	</p>
		      	<p class="powers_sumner_kearl_grade">
		      		<i class="fas fa-smile-wink"></i>
		      		Powers Sumner Kearl Grade
		      	</p>
		      	<p class="Rix_readability">
		      		<i class="fas fa-smile-wink"></i>
		      		Rix Readability
		      	</p>
		      	<h3 style="color: #fff">Readability Scores</h3>
		      	<hr>
		      	<p class="flesch_reading_ease">
		      		<i class="fas fa-smile-wink"></i>
		      		Flesch Reading Ease 
		      	</p>
		      	<p class="spache_score">
		      		<i style="visibility: hidden;" class="fas fa-smile-wink"></i>
		      		Spache Score
		      	</p>
		      	<p class="new_dale_chall_score">
		      		<i style="visibility: hidden;" class="fas fa-smile-wink"></i>
		      		New Dale-Chall Score
		      	</p>
		      	<p class="Lix_readability">
		      		<i class="fas fa-smile-wink"></i>
		      		Lix Readability
		      	</p>
		      	<p class="lensear_write">
		      		<i class="fas fa-smile-wink"></i>
		      		Lensear Write
		      	</p>
		    </div>

		     <div id="menu3" class="container tab-pane fade readability_issues"><br>
		     	<!-- h3 style="color: #fff">Language Issues</h3>
		    	<hr>
		    	<p class="spelling_issues">
		      		<i class="fas fa-smile-wink"></i>
		      		Spelling Issues 
		      	</p>
 -->
		      <!-- 	<p class="grammar_issues">
		      		<i class="fas fa-smile-wink"></i>
		      		Grammar Issues  
		      	</p> -->

		      	<h3 style="color: #fff">Readability Issues</h3>
		    	<hr>
	    		<p class="s_g_30s">
		      		<i class="fas fa-smile-wink"></i>
		      		Sentences > 30 Syllables  
		      	</p>
	      		<p class="s_g_20s">
		      		<i class="fas fa-smile-wink"></i>
		      		Sentences > 20 Syllables 
		      	</p>
	      		<p class="w_g_4s">
		      		<i class="fas fa-smile-wink"></i>
		      		Words > 4 Syllables  
		      	</p>
	      		<p class="w_g_12l">
		      		<i class="fas fa-smile-wink"></i>
		      		Words > 12 Letters  
		      	</p>
		      	<h3 style="color: #fff">Writing Style Issues</h3>
		    	<hr>
		    	<p class="passive_voice_count">
		      		<i class="fas fa-smile-wink"></i>
		      		Passive Voice Count 
		      	</p>
		      	
		      	<div class="text_density_issues">
		      	<h3 style="color: #fff">Text Density Issues</h3>
		    	<hr>
	      		<p class="characters_per_word">
		      		<i class="fas fa-smile-wink"></i>
		      		Characters per Word
		      	</p>
		      	<p class="syllables_per_word">
		      		<i class="fas fa-smile-wink"></i>
		      		Syllables per Word
		      	</p>
		      	<p class="words_per_sentence">
		      		<i class="fas fa-smile-wink"></i>
	      			Words per Sentence
		      	</p>
		      	<p class="words_per_paragraph">
		      		<i class="fas fa-smile-wink"></i>
		      		Words per Paragraph
		      	</p>
		      		<p class="sentences_per_paragraph">
		      		<i class="fas fa-smile-wink"></i>
	      			Sentences per Paragraph
		      	</p>
		      	</div>
		    </div>

		    </div>
		  </div>
		</div>
		</div>
	</div>
</div>
	
{% endblock content %}  